<script lang="ts">
	import { combineClasses } from '$lib/utils/styling';

	let className: string | undefined = undefined;
	export { className as class };
</script>

<div class={combineClasses('flex', className)}>
	<slot />
</div>
