<script lang="ts">
	// import { {{name}} } from '$lib/components/pages';
	import MetaTags from '$lib/components/MetaTags.svelte';
</script>

<MetaTags title="TODO" />

<main>
	<h1>New page, woo!</h1>
</main>

<!-- <{{name}} /> -->
